@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-scp), sans-serif;
    font-weight: 400;
}

body {
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing {
    font-size: calc(0.8rem + 2.5vw);
    color: #fff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
    .typing {
        font-size: calc(1.3rem + 2.5vw);
        padding-left: 10%;
        padding-right: 10%;
        /* Smaller size for mobile devices */
    }
}

@media (min-width: 1200px) {
    .typing {
        font-size: calc(0.35rem + 2.5vw);
        padding-left: 15%;
        padding-right: 15%;
        /* Larger size for desktop devices */
    }
}

.typed-cursor {
    font-size: 3rem;
    color: white;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.50);
}